* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #3a3a3a;
    display: inline-block;
}

li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #c4c4f7;
    transition: all .3s;
}

li a:hover::after {
    width: 100%;
}

main {
    display: flex;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
}

.hero {
    flex: 1;
    max-width: 600px;
    margin: 20px;
}

.hero-img {
    max-width: 100%;
    height: auto;
}

.content {
    flex: 1;
    max-width: 600px;
    margin: 20px;
}

main h1 {
    font-size: 54px;
    color: #133B4F;
    text-transform: uppercase;
}

main h2 {
    font-size: 25px;
    color: #FCA70C;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

main p {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0;
}

.cta {
    padding: 15px 30px;
    background: #c4c4f7;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}

/* Responsive Design */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        height: auto;
    }

    ul {
        flex-direction: column;
    }

    ul li a {
        padding: 10px 0;
    }
}
